@charset "utf-8";

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.primaryColor {
      background-color: #36a69e;
      color: #ffffff;
}

.primaryDarkColor {
    background-color: #339c9a;
    color: #ffffff;
}

.colorAccent {
  background-color: #3bb8af;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #478558;
}

.batsch hover {
  opacity: 0.5;
}

.actionbar {
  margin: 0px;
  padding: 0px;
}

  .discount {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 19px;
    text-align: center;
    color: #e91e63;
  }

  .name {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #CCC;
  }

  .secondrow {
    margin: auto;
    text-align: center;
  }

  .reviews, .location {
    padding-top: 10px;
    font-size: 12px;
  }

  .reviews {
    color: #FFD700;
    padding-left: 10px;
  }

  .icon {
  width: 32px;
  height: 32px;
    padding: 10px;
  }

  .tags {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
  }

  .location a {
    color: #AAA;}

  .tags a {
    color: #CCC;}

    .pic {
      text-align: center;
      margin: auto;
      height:auto;
      width:100%;
    }

    .batsch {
      height: auto;
      width: 48%;
      padding-top: 10px;
      padding-left: 2%;
      margin-bottom: 10px;
    }
    .batschcontainer, .piccontainer {
      text-align: center;
      margin: auto;
    }

  @media (min-width: 480px) {
  .icon {
  width: 36px;
  height: 36px;
    padding: 10px;
  }

    .name {
      font-size: 30px;
    }

    .reviews, .location {
      font-size: 16px;
    }

      .discount {
        font-size: 28px;
      }

    .tags {
      font-size: 24px;
    }
  }

@media (min-width: 560px) {
  .icon {
  width: 42px;
  height: 42px;
    padding: 10px;
  }

  .name {
    font-size: 36px;
  }

  .reviews, .location {
    font-size: 18px;
  }

    .discount {
      font-size: 32px;
    }

  .tags {
    font-size: 28px;
  }
}

@media (min-width: 640px) {
  .pic {
    height:480px;
    width:640px;
  }
  .batsch {
    height: 93px;
    width: 314px;
  }
  .icon {
  width: 48px;
  height: 48px;
    padding: 10px;
  }

    .name {
      font-size: 42px;
    }

    .reviews, .location {
      font-size: 21px;
    }

      .discount {
        font-size: 36px;
      }

    .tags {
      font-size: 30px;
    }
}

@media (min-width: 992px) {

  .icon {
  width: 52px;
  height: 52px;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
                               }



                               a:hover {
                                 color: yellow;
                                 text-decoration:none;
                               }
                               a {
                                color:#EEE;
                               }

